<div class="container">
    <h1 id="title">ember-cli-observe-all</h1>
    <h2>Helping to observe property changes in dynamic objects</h2>
        
    {{outlet}}
</div>

{{#if notIndexPage}}
    {{#link-to 'index'}}
    <div class="back-navigation">
        {{ui-icon icon='arrow-circle-left' size='5x' class='animated fadeIn'}}
    </div>
    {{/link-to}}
{{/if}}